*{
    margin: 0px;
    padding: 0px;
  }

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



  /* header navigation styles */

 nav .nav-title{
    font-size: 45px;
    font-weight: 800;
 }

 nav h1 span{
    color: #FD6E0A;
 }

ul li a{
    
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 230px; 
}



.dark-2{
    color: #474747;
    font-size: 20px;

}

ul .primary-btn{
   font-size: 20px;
   padding: 18px 36px;
   border: none;
   border-radius: 5px;
   background-color: #FD6E0A;
   color: white;
}
  /* header navigation styles */

  /* header banner styles */
  .banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
  }

  .banner p{
    font-size: 18px;
    color: #757575;
  }

  .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 38px 0px 230px;
  }
  .banner-content{
    max-width: 580px;
  }
 .banner img{
    
    max-width: 580px;

  }

  .banner-paragraph{
    margin: 50px 15px 50px 0px;
  }

  .primary-btn{
    font-size: 20px;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    margin-right: 30px;
  }

  .header-nav{
    background-image: url(../assets/developer.png), url(../assets/header_bg.png);
    background-repeat: no-repeat;
    background-position: center left, bottom right;
    background-color: #FFF8F3;
  }
  /* header banner styles */



/* main styles */
.mainn-container{
    max-width: 1140px;
    margin: 130px auto;
    

}
  .about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
  }

  .about-para{
    font-size: 18px;
    color: #757575;
    margin: 50px auto;
  }

  .main-all-content-container{
    background-color: #FFF8F3;
    border-radius: 10px; 
    padding: 130px 160px;
    text-align: center;
  }

  .item-title{
    font-size: 20px;
    color: #757575;
  }

  .item-description{
    font-size: 20px;
    font-weight: bold;
  }

  .about-items{
    display: flex;
    justify-content: space-around;

  }

  .skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin: 30px auto;
  }

  .skill-description{
    font-size: 16px;
    color: #757575;
  }

  .skill{
    height: 377px;
    width: 267px;
    padding: 30px 50px 30px 50px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 6);
    border-radius: 5px;
  }
  
  .skills-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
  }

  .whatido-text-container{
    text-align: center;
  }

.whatido-title{
    margin-top: 130px;
    margin-bottom: 70px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.whatido-text-container{
    padding: 0px 120px;
}

.whatido-para{
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    color: #757575;

}

.whole-resume-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.resume-heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #181818;
    margin: 150px 0px 80px 0px;
}

.resume-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-subtitle{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
}

.university-title{
    font-size: 20px;
    font-weight: 700;
    color: #757575;
    margin-bottom: 20px;
}

.overall-skill{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.cv-btn{
    margin: 50px auto;
}

  /* main styles */

  /* footer styles */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 130px 380px;
    gap: 120px;
    background-color: #FFF8F3;
}

.footer-connection-make{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

.footer-connection-make-para{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    color: #474747;
}

.form-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

.sei-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-input{
    width: 460px;
    height: 64px;
    border: none;
    border-radius: 5px;
}

form > button{
   width: 150px;
   height: 64px;
}

.form-input-textarea{
    border: none;
    border-radius: 5px;
}

.footer-container-2{
    background-color: #FFF8F3;
    
}

.Rights{
    text-align: center;
    font-size: small;
    font-weight: 100;
    
    padding: 50px auto;
}

.primary-btn:hover{
    opacity: 0.7;
}

.primary-btn{
    cursor: pointer;
}


/* responsive designs for mobile phones*/

.hide{
  display: none;
}


@media screen and (max-width:576px) {

  /* banner section */

    .banner, nav{
      flex-direction: column;
    } 

    ul{
      flex-direction: row;
      /* margin: 0 auto; */
      /* background-color: aquamarine; */
      gap: 50px;
      margin: 0px;
      width: 100%;
      height: 50px;
      text-align: center;
      position: relative;
      right: 10px;
    }

    ul .primary-btn{
      font-size: 12px;
      width: 110px;
      margin-bottom: 0;
      padding: 9px 18px;
    }

    nav ul{
      margin: 0 auto;
      
      
  }

  nav ul li{
    margin-right: 0px;
}
    

    .banner, nav{
      margin: 20px;
    }

    nav{
      padding: 20px;
    }

    .banner img {
      max-width: 100%;
  }

  .header-nav{
     background-image: none;
  }

  .primary-btn{
    margin-right: 0px;
  }

  /* design for main ::selection */



}

